<div class="student">
    <h2>Student Data</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Place</th>
          <th>New Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.gender }}</td>
          <td>{{student.place}}</td>
          <td>{{ student.name | custompipe:student.gender }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  